<div class="container">
  <h1 class="display-4 text-center my-3">Potin Party</h1>

  <div class="row justify-content-md-center mb-4">
    <a type="button" class="btn btn-primary " href="<%= new_gossip_path %>">Ajouter un nouveau potin</a>
  </div>

  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-4 mb-3">
        <div class="card">
          <img class="card-img-top" alt="Card image cap" src="http://www.leparisien.fr/resizer/kqRQjiAtXLsRwyjLMPBrcxGxr9k=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/IRGRVPHIVZQM3M4EPI6AK6MTBA.jpg">
          <div class="card-body">
            <h5 class="card-title"><%=gossip.title %></h5>
            <p class="card-text"><%= gossip.content %></p>
            <p class="card-text"><%= gossip.city %></p>
            <p class="card-text">
              <small class="text-muted">
                posté par <%=gossip.author %>
                le <%=gossip.created_at.strftime("%d/%m/%Y %H:%I") %>
                </small>
              </p>
              <a type="button" class="btn btn-primary btn-block" href="<%=gossip_path(gossip.id) %>">Voir le potin</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
